:root {
	--secondary: rgba(27,95,158,1);
	--secondaryTransparent: rgba(27,95,158,0.05);
	--primary: rgba(176,196,223,1);
}
html {
	min-height:500px;
	min-width: 700px;
}
body {
	min-height: 500px;
	min-width: 700px;
    background: var(--primary);
    transition-property: backgroundImage;
	transition-duration: .2s;
	background-repeat: no-repeat;
}
#wrapper {
	width:90%;
	margin:1rem auto;
	display:flex;
	flex-flow: row wrap;
}
#wrapper:before {content: "\2601"; font-size:10rem;margin-right:-1rem;margin-left:-4rem;color:var(--primary);}
#infoBox, #taskList {
    border-radius: .25rem;
    background:white;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
	margin:0;
}
#infoBox {
	text-align: center;
	height:100%;
	padding: 1rem;
	margin-left: 1rem;
	flex:1 0;
}
#taskList {
	flex: 5 0;
	font-size:1.1rem;
	line-height:1.6rem;
	padding: 0;
}
#taskCount {font-size:1.8rem;margin:0;color:var(--primary);}
#taskCount span {color:var(--secondary);}
#lastUpdated {color:var(--primary);}
#settingsBox {text-align: right}

li {
    list-style:none;
    border-bottom:1px solid #0002;
}
li a { padding:0.4rem;color:var(--secondary);display: block; text-decoration: none; }
li a:hover {background: var(--secondaryTransparent); text-decoration: underline;}
li span {float:right; padding:0 4px;color:var(--secondary);}

.theme-base .priority-high a:before,
.theme-base .priority-normal a:before,
.theme-base .priority-low a:before {width: 1.2em;font-size:1rem; display: inline-block;}
.theme-base .priority-high a:before {content: "\235f";}
.theme-base .priority-normal a:before {content: "\20dd";}
.theme-base .priority-low a:before {content: "\25cc";}

.theme-emoji .priority-high a:before,
.theme-emoji .priority-normal a:before,
.theme-emoji .priority-low a:before {width: 1.6em;font-size:1rem; display: inline-block;}
.theme-emoji .priority-high a:before {content: "\1f632";}
.theme-emoji .priority-normal a:before {content: "\1f642";}
.theme-emoji .priority-low a:before {content: "\1f636";}
.theme-emoji circle {stroke: #bd2e698c;}